/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML and body settings */
html, body {
  font-family: 'Poppins', sans-serif; 
  overflow-x: hidden; 
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

/* global box containers */
.globalContainer{
  padding: 25px 80px;
  background-color: #fafbfb;
}

.globalBox{
  margin: 0 8%;
}